body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:748px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:288px;
  background:inherit;
  background: #FAEFEF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:61px;
  width:562px;
  height:288px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:114px;
  width:123px;
  height:41px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:175px;
  width:239px;
  height:41px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:73px;
  width:44px;
  height:26px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:114px;
  width:317px;
  height:41px;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:41px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:175px;
  width:317px;
  height:41px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:41px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:303px;
  width:140px;
  height:40px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:244px;
  width:239px;
  height:41px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:244px;
  width:317px;
  height:41px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:41px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
