body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:748px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:288px;
  background:inherit;
  background: #FAEFEF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:66px;
  width:562px;
  height:288px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:114px;
  width:87px;
  height:41px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:175px;
  width:239px;
  height:41px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:252px;
  width:239px;
  height:41px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:252px;
  width:129px;
  height:41px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:98px;
  height:31px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:199px;
  width:83px;
  height:5px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:175px;
  width:129px;
  height:41px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:73px;
  width:44px;
  height:26px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:288px;
  background:inherit;
  background: #FAEFEF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:387px;
  width:562px;
  height:288px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:436px;
  width:87px;
  height:41px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:497px;
  width:239px;
  height:41px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:574px;
  width:239px;
  height:41px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:574px;
  width:129px;
  height:41px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:98px;
  height:31px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:551px;
  width:83px;
  height:5px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:527px;
  width:129px;
  height:41px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:397px;
  width:56px;
  height:25px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:114px;
  width:317px;
  height:41px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:41px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:175px;
  width:222px;
  height:41px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:41px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:497px;
  width:246px;
  height:41px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:41px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:436px;
  width:349px;
  height:41px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:41px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:303px;
  width:140px;
  height:40px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:625px;
  width:140px;
  height:40px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
